body {
    margin: 0;
    min-width: 250px;
}

.header {
    padding: 50px 50px;
    font-family: 'Roboto Slab';
    background-color:#e9b0b0;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {  
    font-family: 'Roboto Slab';
    border: none;
    border-radius: 0;
    margin: 0;
    font-size: 15px;
    width: 50%;
    padding: 10px;
    float: center;  
}

.addButton {
    width: 50%;
    padding: 10px;
    background:#ecd0d0;
    color: white;
    
    cursor: pointer;
}

.addButton:hover {
    background-color:#f0caca
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    font-family: 'Roboto Slab';
    position: relative;
    padding: 10px 10px 10px 10px;
    background: #fad7d7;
    font-size: 16px;
    transition: 0.2s;
}


.close {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    padding: 10px 16px 10px 16px;
}

.close:hover {
    background-color: #fad2d2;
    color: white
}

